/* Importing the Outfit font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400&display=swap');

/* Base Styles */
body {
    margin: 0;
    font-family: 'Outfit', sans-serif;
}

/* Header Styles */
header {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #343a40;
}

#searchInput {
    width: auto;
    flex: 1;
    max-width: 25rem;
    margin: 0 auto;
}

#themeToggleBtn {
    margin-left: 10px; /* Space between search input and the theme toggle button */
}