.narainkarthik {
    background-color: #1dd1a1;
    color: white;
}

.john-doe {
    background-color: #ff6b6b;
    color: white;
}

.rahul {
    background-color: #54a0ff;
    color: white;
}

.jolly-jolli {
    background-color: #f3ec14;
    color: black;
}

.frank {
    background-color: #ff9f43;
    color: white;
}
